<div class="row text-center title-row">

  <div class="small-12 small-centered columns normal show-for-medium">
    <img src="https://lh5.googleusercontent.com/-uBZR6qzwGKQ/VL34kGEO5RI/AAAAAAAAOcs/nGYIo_n2i7s/w841-h506-no/white-chocolate-candy-valentine-hearts-6.jpg" class="title-image"/>
    <div class="row">
      <div class="small-12 small-centered columns">
        <h1 class="text-center">Candy Monster</h1>
      </div>
    </div>
  </div>
  <div class="small-12 small-centered columns mobile show-for-small-only">
    <img src="https://lh5.googleusercontent.com/-uBZR6qzwGKQ/VL34kGEO5RI/AAAAAAAAOcs/nGYIo_n2i7s/w841-h506-no/white-chocolate-candy-valentine-hearts-6.jpg" class="title-image"/>
    <div class="row">
      <div class="small-12 small-centered columns">
        <h1 class="text-center">Candy Monster</h1>
      </div>
    </div>
  </div>
</div>

<div id="main-list">
</div>
