<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Candy Monster</title>

    <link <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="row text-center title-row">

      <div class="small-12 small-centered columns normal show-for-medium">
        <img src="https://static.pexels.com/photos/136745/pexels-photo-136745.jpeg" class="title-image"/>
        <div class="row">
          <div class="small-12 small-centered columns">
            <h1 class="text-center">Candy Monster</h1>
          </div>
        </div>
      </div>
      <div class="small-12 small-centered columns mobile show-for-small-only">
        <img src="https://static.pexels.com/photos/136745/pexels-photo-136745.jpeg" class="title-image"/>
        <div class="row">
          <div class="small-12 small-centered columns">
            <h1 class="text-center">Candy Monster</h1>
          </div>
        </div>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
